.kl-about-modal {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 64px 16px;
  visibility: hidden;
  overscroll-behavior: contain;
}
.kl-about-modal__overlay {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
}
.kl-about-modal__close {
  position: absolute;
  z-index: 13;
  top: 25px;
  right: 25px;
  display: block;
  background: white;
  padding: 4px;
}
@media screen and (max-width: 768px) {
  .kl-about-modal__close {
    top: 0;
    right: 0;
  }
}
.kl-about-modal__close svg {
  display: block;
}
.kl-about-modal__wrapper {
  overflow: hidden;
  position: relative;
  background: white;
  display: flex;
}
@media screen and (max-width: 768px) {
  .kl-about-modal__wrapper {
    display: block;
  }
}
.kl-about-modal__container {
  max-width: 980px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 13;
  transition: top 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.kl-about-modal:target {
  visibility: visible;
}
.kl-about-modal:target .kl-about-modal__overlay {
  opacity: 0.5;
  visibility: visible;
}
.kl-about-modal:target .kl-about-modal__container {
  visibility: visible;
  opacity: 1;
}
.kl-about-modal__image {
  width: 330px;
}
@media screen and (max-width: 768px) {
  .kl-about-modal__image {
    width: 100%;
  }
}
.kl-about-modal__image img {
  max-width: 100%;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .kl-about-modal__image img {
    object-fit: unset;
  }
}
.kl-about-modal__content {
  padding: 42px 50px;
  flex-basis: 650px;
}
.kl-about-modal__header {
  margin: 0 0 30px;
}
.kl-about-modal__header h1, .kl-about-modal__header h2, .kl-about-modal__header h3, .kl-about-modal__header h4, .kl-about-modal__header h5, .kl-about-modal__header h6 {
  margin: 0 0 10px;
  font-weight: bold;
}
.kl-about-modal__header h4 {
  color: {{theme.global_colors.primary_color.color}};
}
.kl-about-modal__social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 -8px;
}
.kl-about-modal__social span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 8px;
}
.kl-about-modal__social svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: {{theme.global_colors.text_color.color}};
  transition: all 0.25s ease-in-out;
}
.kl-about-modal__social a:hover svg {
  fill: {{theme.global_colors.primary_color.color}};
  /*fill: $secondary-color;*/
}