button, .button, .button_cta a {
  background-color: rgba({{theme.buttons.background_color.color|convert_rgb}}, {{theme.buttons.background_color.opacity != null ? theme.buttons.background_color.opacity / 100 : 1}});
  border: {{theme.buttons.border.width}}px solid rgba({{theme.buttons.border.color.color|convert_rgb}}, {{theme.buttons.border.color.opacity != null ? theme.buttons.border.color.opacity / 100 : 1}});
  border-radius: {{theme.buttons.border.radius}}px;
  color: rgba({{theme.buttons.text_color.color|convert_rgb}}, {{theme.buttons.text_color.opacity != null ? theme.buttons.text_color.opacity / 100 : 1}});
  padding: {{theme.buttons.padding.vertical}}px {{theme.buttons.padding.horizontal}}px;
  font-family: {{theme.global_fonts.primary_font.font}}, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
  line-height: 1.1;
  letter-spacing: 0.03em;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: all 0.15s linear;
  /* To affect HubSpot CTAs */
}
button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active, .button_cta a:hover, .button_cta a:focus, .button_cta a:active {
  background-color: rgba({{theme.buttons.hover.background_color.color|convert_rgb}}, {{theme.buttons.hover.background_color.opacity != null ? theme.buttons.hover.background_color.opacity / 100 : 1}});
  border-color: rgba({{theme.buttons.hover.background_color.color|convert_rgb}}, {{theme.buttons.hover.background_color.opacity != null ? theme.buttons.hover.background_color.opacity / 100 : 1}});
  color: rgba({{theme.buttons.hover.text_color.color|convert_rgb}}, {{theme.buttons.hover.text_color.opacity != null ? theme.buttons.hover.text_color.opacity / 100 : 1}});
  text-decoration: none;
  transform: scale({{theme.buttons.hover.scale}});
}
button:disabled, .button:disabled, .button_cta a:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}
button a, .button a, .button_cta a a {
  color: rgba({{theme.buttons.text_color.color|convert_rgb}}, {{theme.buttons.text_color.opacity != null ? theme.buttons.text_color.opacity / 100 : 1}});
}
button a:hover, .button a:hover, .button_cta a a:hover {
  color: white;
  text-decoration: none;
}

/* 
 This class allows the use of CTAS 
 */
.button_cta, .button_cta.button--outlined, .button_cta.button--arrow {
  padding: 0;
  border: none;
  display: inline-block;
}
.button_cta:after, .button_cta.button--outlined:after, .button_cta.button--arrow:after {
  display: none;
}
@media screen and (max-width: 767px) {
  .button_cta, .button_cta.button--outlined, .button_cta.button--arrow {
    text-align: center;
  }
}

.widget-type-cta {
  background-color: rgba({{theme.buttons.background_color.color|convert_rgb}}, {{theme.buttons.background_color.opacity != null ? theme.buttons.background_color.opacity / 100 : 1}});
  border: {{theme.buttons.border.width}}px solid rgba({{theme.buttons.border.color.color|convert_rgb}}, {{theme.buttons.border.color.opacity != null ? theme.buttons.border.color.opacity / 100 : 1}});
  border-radius: {{theme.buttons.border.radius}}px;
  color: rgba({{theme.buttons.text_color.color|convert_rgb}}, {{theme.buttons.text_color.opacity != null ? theme.buttons.text_color.opacity / 100 : 1}});
  padding: {{theme.buttons.padding.vertical}}px {{theme.buttons.padding.horizontal}}px;
  font-family: {{theme.global_fonts.primary_font.font}}, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
  line-height: 1.1;
  letter-spacing: 0.03em;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: all 0.15s linear;
  /* To affect HubSpot CTAs */
}
.widget-type-cta:hover, .widget-type-cta:focus, .widget-type-cta:active {
  background-color: rgba({{theme.buttons.hover.background_color.color|convert_rgb}}, {{theme.buttons.hover.background_color.opacity != null ? theme.buttons.hover.background_color.opacity / 100 : 1}});
  border-color: rgba({{theme.buttons.hover.background_color.color|convert_rgb}}, {{theme.buttons.hover.background_color.opacity != null ? theme.buttons.hover.background_color.opacity / 100 : 1}});
  color: rgba({{theme.buttons.hover.text_color.color|convert_rgb}}, {{theme.buttons.hover.text_color.opacity != null ? theme.buttons.hover.text_color.opacity / 100 : 1}});
  text-decoration: none;
  transform: scale({{theme.buttons.hover.scale}});
}
.widget-type-cta:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}
.widget-type-cta a {
  color: rgba({{theme.buttons.text_color.color|convert_rgb}}, {{theme.buttons.text_color.opacity != null ? theme.buttons.text_color.opacity / 100 : 1}});
}
.widget-type-cta a:hover {
  color: white;
  text-decoration: none;
}
.widget-type-cta a {
  color: white;
}
.widget-type-cta a:hover, .widget-type-cta a:focus, .widget-type-cta a:active {
  color: white;
  text-decoration: none;
}

.button--outlined, .button_cta.button--outlined a {
  background-color: transparent;
  color: {{theme.global_colors.primary_color.color}};
  border: 2px solid {{theme.global_colors.primary_color.color}};
  font-weight: bold;
  /* To affect HubSpot CTAs */
}
.button--outlined a, .button_cta.button--outlined a a {
  color: inherit;
}

.button--arrow, .button_cta.button--arrow a {
  color: {{theme.global_colors.text_color.color}};
  background: none;
  border: none;
  padding: 0;
  transition: none;
  /* To affect HubSpot CTAs */
}
.button--arrow:after, .button_cta.button--arrow a:after {
  content: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 13'%3E%3Cpath d='M37.5303 7.0303a.75.75 0 000-1.0606l-4.7729-4.773a.75.75 0 00-1.0607 1.0607L35.9393 6.5l-4.2426 4.2426a.75.75 0 001.0607 1.0607l4.7729-4.773zM0 7.25h37v-1.5H0v1.5z' fill='%23{{theme.global_colors.text_color.color[1:]}}'/%3E%3C/svg%3E");
  width: 36px;
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  transition: margin 0.15s linear;
}
.button--arrow:hover, .button--arrow:focus, .button--arrow:active, .button_cta.button--arrow a:hover, .button_cta.button--arrow a:focus, .button_cta.button--arrow a:active {
  background: none;
  border: none;
  text-decoration: none;
  color: {{theme.global_colors.primary_color.color}};
  transform: none;
}
.button--arrow:hover:after, .button--arrow:focus:after, .button--arrow:active:after, .button_cta.button--arrow a:hover:after, .button_cta.button--arrow a:focus:after, .button_cta.button--arrow a:active:after {
  /* Really nasty way of chaning the color of the arrow */
  content: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 13'%3E%3Cpath d='M37.5303 7.0303a.75.75 0 000-1.0606l-4.7729-4.773a.75.75 0 00-1.0607 1.0607L35.9393 6.5l-4.2426 4.2426a.75.75 0 001.0607 1.0607l4.7729-4.773zM0 7.25h37v-1.5H0v1.5z' fill='%23{{theme.global_colors.primary_color.color[1:]}}'/%3E%3C/svg%3E");
  margin-left: 10px;
}
.button--arrow:hover a, .button--arrow:focus a, .button--arrow:active a, .button_cta.button--arrow a:hover a, .button_cta.button--arrow a:focus a, .button_cta.button--arrow a:active a {
  color: inherit;
}
.button--arrow:disabled, .button_cta.button--arrow a:disabled {
  background: none;
  border: none;
  color: #aeaeae;
  cursor: auto;
}
.button--arrow a, .button_cta.button--arrow a a {
  color: inherit;
}